@import "@styles/_variables";
@import "@styles/_mixins";

.approval {
  &__notify-message {
    font-family: $font-sans;
    text-align: center
  }

  &__button {
    @include main-button;
    padding: 6px 12px;
    font-size: 18px;
    font-weight: 700;
    width: 140px;

    &:disabled {
      background-color: $color-border-default;
      border: 2px solid $color-pale-green;
    }
  }

  &__notify-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 10px;
    gap: 18px;

    @include onTablet {
      gap: 24px;
    }
  }

  &__notify-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include onTablet {
      flex-direction: row;
    }
  }

  &__notify {
    position: absolute;
    font-size: 11px;
    width: max-content;
    background-color: $color-bg;
    left: -34px;
    top: -12px;
    padding: 0 2px;
    color: $color-warning;
    z-index: 10;
  }
}
