@import "../../../styles/_variables";
@import "../../../styles/_mixins";

.dropdown {
  position: absolute;
  width: 135px;
  top: 100%;
  left: 0;
  z-index: 10;

  &__list {
    background-color: $color-bg-placeholer;
    border: 1px solid $color-main-green;
  }
  
  &__item {
    font-size: 12px;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid $color-main-green;

    &:last-child {
      border-bottom: none;
    }

    @include onTablet {
      font-size: 14px;
    }

    &:hover {
      color: $color-bg;
      background-color: $color-secondary-green;
    }
  }
}
