@import "../../../../styles/_variables";
@import "../../../../styles/_mixins";

.general {
  width: 100%;

  &__title {
    font-size: 18px;
    line-height: 27px;
    color: $color-main-text;
    margin-bottom: 4px;
  }

  &__desc {
    font-family: $font-sans;
    font-size: 12px;
    line-height: 16px;
    color: $color-desc;
    margin-bottom: 10px;
  }

  &__box {
    gap: 12px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 12px;

    @include onTablet {
      gap: 32px;
      width: 60%;
      margin-bottom: 0;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item {
    color: $color-text-gray;
    font-family: $font-sans;
    line-height: 14px;
    font-size: 12px;
    white-space: nowrap;

    @include onTablet {
      line-height: 19px;
      font-size: 14px;
    }

    &--green {
      color: $color-main-green;
    }
  }
}
