@import "@styles/_variables";
@import "@styles/_mixins";

.product-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include onTablet {
    width: 100%;
  }

  &__button {
    width: 100%;
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    font-family: $font-poppins;
    transition: 0.1s linear all;

    @include onDesktop {
      font-size: 14px;
    }
  }

  &__detail {
    background-color: $color-main-green;
    padding: 6px 10px;
    border: 2px solid $color-secondary-green;
    color: $color-bg;

    @include onDesktop {
      padding: 12px 16px;
    }


    &:hover {
      border: 2px solid $color-main-green;
      background-color: $color-secondary-green;
    }
  }

  &__wishlist {
    position: relative;
    color: $color-main-text;
    background-color: $color-tags;
    padding: 6px;
    border: 2px solid $color-tags;

    @include onDesktop {
      padding: 6px 12px;
    }

    &:hover {
      background-color: $color-text-gray;
    }

    &--active {
      background-color: $color-pale-green;

      &:hover {
        background-color: initial;
      }

      & * {
        fill: $color-warning;
      }
    }
  }

  &__svg {
    @include square-var(16px);

    &--heart {
      @include square-var(22px);
      position: absolute;
      left: 14px;
    }

    @include onTablet {
      &--heart {
        @include square-var(16px)
      }
    }
  }
}
