@import "../../../../styles/_variables";
@import "../../../../styles/_mixins";

.img-card {
  width: 100%;
  height: 190px;
  border-radius: 12px;
  border: 1px solid $color-border-default;

  @include onTablet {
    height: inherit;
  }

  &__img {
    display: block;
    @include square-var(100%);
    object-fit: cover;
    border-radius: inherit;
    object-position: center;

    @include onTablet {
      min-width: 220px;
    }
  }
}
