@mixin square-var ($size) {
  width: $size;
  height: $size;
}

@mixin flex-settings {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin default-button {
  cursor: pointer;
  background-color: inherit;
  border: none;
}

@mixin main-button {
  background-color: $color-main-green;
  border: 2px solid $color-secondary-green;
  color: $color-bg;
  transition: 0.2s all;
  cursor: pointer;

  &:hover {
    border: 2px solid $color-main-green;
    background-color: $color-secondary-green;
  }
}


@mixin frequently-button {
  width: 100%;
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  font-family: $font-poppins;
  transition: 0.1s linear all;

  @include onDesktop {
    font-size: 14px;
  }
}

@mixin skeleton-loading {
  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 80%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }
}

@mixin colorChange {
  @keyframes colorChange {
    from {
      fill: transparent;
    }
    to {
      fill: $color-warning;
    }
  }
  
}


@mixin onMobile {
  @media (min-width: 368px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1080px) {
    @content;
  }
}

@mixin onDesktopLarge {
  @media (min-width: 1480px) {
    @content;
  }
}
