@mixin square-var ($size) {
  width: $size;
  height: $size;
}

@mixin flex-settings {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin default-button {
  cursor: pointer;
  background-color: inherit;
  border: none;
}

@mixin frequent-button {
  width: 100%;
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  font-family: $font-poppins;
  transition: 0.1s linear all;

  @include onDesktop {
    font-size: 14px;
  }
}

@mixin skeleton-loading {
  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 80%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }
}

@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1080px) {
    @content;
  }
}

@mixin onDesktopLarge {
  @media (min-width: 1480px) {
    @content;
  }
}
