@mixin square-var ($size) {
  width: $size;
  height: $size;
}

@mixin flex-settings {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin default-button {
  cursor: pointer;
  background-color: inherit;
  border: none;
}

@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1080px) {
    @content;
  }
}

@mixin onDesktopLarge {
  @media (min-width: 1480px) {
    @content;
  }
}
