$color-main-text:#151515;
$color-main-green: #6a983c;
$color-secondary-green: #46760a;
$color-pale-green: #f4f8ec;
$color-placeholder: #a9a9a9;
$color-bg: #fff;
$color-bg-secondary: #fdfdfd;
$color-bg-placeholer: #f9f9f9;
$color-border-searchbar: #d1d1d1;
$color-tags: #f5f5f5;
$color-text-gray: #a9a9a9;
$color-desc: #575757;
$color-price-bar: #ebebeb;

$font-poppins: "Poppins", Arial, Helvetica, sans-serif;
$font-sans: 'Open Sans', Arial, Helvetica, sans-serif;
