$color-main-text:#151515;
$color-text-gray: #a9a9a9;

$color-main-green: #6a983c;
$color-secondary-green: #46760a;
$color-pale-green: #f4f8ec;

$color-gray-main: #f9f9f9;
$color-gray-secondary: #a9a9a9;

$color-bg: #fff;
$color-bg-secondary: #fdfdfd;

$color-border-default: #d1d1d1;
$color-tags: #f5f5f5;
$color-desc: #575757;
$color-price-bar: #ebebeb;

$color-warning: tomato;

$font-poppins: "Poppins", Arial, Helvetica, sans-serif;
$font-sans: 'Open Sans', Arial, Helvetica, sans-serif;
