@import "@styles/_mixins";
@import "@styles/_variables";

.form {
  &__button {
    @include main-button;
    padding: 16px 48px;
    border-radius: 12px;
    font-weight: 700;
    width: 100%;

    @include onTablet {
      width: 218px;
    }

    &:disabled {
      background-color: $color-gray-secondary;
      border: 2px solid transparent;
      cursor: not-allowed;
    }
  }

  &__notify-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 10px;
    gap: 18px;

    @include onTablet {
      gap: 24px;
    }
  }

  &__success-img {
    width: 150px;
    height: 150px;

    @include onTablet {
      width: 300px;
      height: 300px;
    }
  }

  &__success-button {
    @include main-button;
    padding: 6px 12px;
    width: 30%;
    font-size: 18px;
    font-weight: 700;
  }

  &__succes-title {
    font-size: 18px;
    text-align: center;
  }
}
