@import "@styles/_variables";
@import "@styles/_mixins";

.general-cart {
  &__title {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 4px;
    height: 22px;
    overflow: hidden;
  }

  &__stars-box {
    cursor: pointer;
    margin-bottom: 18px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 16px;
  }

  &__item {
    font-family: $font-sans;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    gap: 14px;
    justify-content: space-between;

    @include onTablet {
      justify-content: initial;
    }
  }

  &__key {
    overflow: hidden;
    width: 50%;
    color: $color-gray-secondary;

    @include onTablet {
      width: 60px;
    }
  } 

  &__value {
    overflow: hidden;
    color: $color-main-text;
    display: flex;
    justify-content: flex-end;
    width: 50%;

    @include onTablet {
      width: 140px;
      justify-content: initial;
    }
  }

  &__price-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;

    @include onTablet {
      flex-direction: row;
      gap: 4px;
      margin-bottom: 0;
    }
  }

  &__price {
    font-weight: 600;
    min-width: 96px;
    font-size: 18px;
    line-height: 27px;
    color: $color-main-green;
  }

  &__price-old {
    font-size: 10px;
    line-height: 18px;
    color: $color-gray-secondary;
    text-decoration: line-through;
    font-weight: 600;

    @include onTablet {
      font-size: 12px;
    }
  }
}
