@import "@styles/_variables";
@import "@styles/_mixins";

.form-input {
  width: 100%;
  position: relative;

  &__title {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: $color-main-text;
  }

  &__input {
    width: 100%;
    outline: none;
    padding: 12px 60px 11px 21px;
    border: 1px solid $color-border-default;
    border-radius: 12px;
    background-color: $color-gray-main;

    &--disabled {
      cursor: not-allowed;
      background-color: $color-border-default;
    }

    &:focus {
      border: 1px solid $color-main-green;
    }

    &::placeholder {
      line-height: 19px;
      font-size: 12px;
      color: $color-text-gray;
      font-family: $font-sans;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px $color-pale-green inset;
    }
    
    &:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0px 1000px $color-pale-green inset;
      caret-color: initial;
    }
  }

  &__error {
    right: 16px;
    padding: 0 6px;
    top: 8px;
    color: $color-warning;
    background-color: $color-bg;
    position: absolute;
    font-size: 12px;
    border-radius: 8px;
  }
}
