@import "../../../styles/_variables";
@import "../../../styles/_mixins";

.header-main {
  width: 100%;
  padding: 13px 15px 18px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
  gap: 16px;

  @include onDesktop {
    justify-content: space-between;
    flex-direction: row;
  }

  &__link {
    width: 180px;
    height: 20px;
  }

  &__logo {
    width: 180px;
    height: 20px;
  }
}
