@import "../../../styles/_variables";
@import "../../../styles/_mixins";

.sort-link {
  display: flex;
  @include square-var(100%);
  align-items: center;
  padding-left: 12px;
  justify-content: space-between;
  gap: 12px;
  padding: 8px;

  &__svg {
    transform: rotate(180deg);
    &--reversed {
      transform: rotate(0);
    }
  }
}
