@import "@styles/_variables";
@import "@styles/_mixins";

.skeleton {
  min-width: 240px;
  height: 280px;
  opacity: 0.6;
  animation: skeleton-loading 1s ease-in-out infinite;
  @include skeleton-loading;
  border-radius: 12px;

  &__text {
    width: 100%;
    height: 0.5rem;
  }
}
