@import "@styles/_variables";
@import "@styles/_mixins";

.product-block {
  display: flex;
  flex-direction: column;

  @include onDesktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}
