@import "../../../styles/_variables";
@import "../../../styles/_mixins";

.icons {
  display: flex;
  flex-direction: row;
  gap: 10px; 

  @include onTablet {
    flex-direction: row;
    gap: 43px;
  }

  &__button {
    cursor: pointer;
    background-color: inherit;
    border: none;
    position: relative;
    border-radius: 50%;
    transition: transform 0.3s ease;
    
    &:hover {
      transform: scale(105%);
      box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
    }

    &--basket {
      &::before {
        content: attr(data-count-favorite);
        font-family: $font-poppins;
        position: absolute;
        @include square-var(16px);
        background-color: tomato;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: inherit;
        font-size: 12px;
        line-height: 18px;
        font-weight: 600;
        color: $color-bg;
        bottom: 2px;
        left: 2px;
      }
    }
  }

  &__svg {
    @include square-var(24px);
  }
}
