@import "../../../styles/_variables";
@import "../../../styles/_mixins";

.navigation {
  width: 100%;
  padding: 0 15px;

  &__list {
    min-height: 55px;
    background-color: $color-gray-main;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 15px;

    @include onTablet {
      grid-template-columns: repeat(3, 1fr);
      padding: 0 45px;
    }

    @include onDesktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 42px;
    }
  }

  &__loading {
    width: 100%;
    min-height: 55px;
    opacity: 0.6;
    animation: loading-navigation 1s infinite alternate;
  }
}

@keyframes loading-navigation {
  0% {
    background-color: hsl(200, 20%, 80%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
