@import "../../../styles/_variables";
@import "../../../styles/_mixins";

.navigation {
  width: 100%;
  background-color: $color-bg-placeholer;
  padding: 0 25px;

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include onTablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include onDesktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 42px;
    }
  }

  @include onTablet {
    padding: 0 45px;
  }
}
