@import "@styles/_variables";
@import "@styles/_mixins";

.breadcrumbs {
  min-height: 18px;
  margin-bottom: 24px;
  font-family: $font-sans;
  color: $color-main-text;

  &__list {
    display: flex;
    gap: 8px;
    font-size: 10px;
    line-height: 16px;

    @include onTablet {
      font-size: 12px;
    }
  }

  &__item {
    display: flex;
    gap: 8px;
    cursor: pointer;

    &--first {
      color: $color-text-gray;
    }
  }
}
