@import "@styles/_reset";
@import "@styles/_variables";

h1 {
  font-family: $font-poppins;
  font-weight: 600;
  font-size: 22px;
  line-height: 48px;
  color: $color-main-text;

  @include onTablet {
    font-size: 26px;
  }

  @include onDesktop {
    font-size: 32px;
    line-height: 48px;
  }
}

h2 {
  font-family: $font-poppins;
  font-size: 15px;
  line-height: 22px;
  color: $color-main-text;

  @include onDesktop {
    font-size: 18px;
    line-height: 27px;
  }
}

.disable-scroll {
  overflow: hidden;
}
